/*** sectioning elements ***/
body {
    background-color: #f24330;
}

header {

}

main {

}

footer {

}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {
    font-family: 'Aref Ruqaa', serif;
    border: none;
    text-align: ;
    font-size: 30px;
}

h2 {
    font-family: 'Aref Ruqaa', serif;
    border: none;
    text-align: ;
    font-size: 25px;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
    font-family: 'Aref Ruqaa', serif;
    font-size: 20px;
    line-height: 1;
}

blockquote {

}

ol {

}

ul {

}

li {

}

table{

}

table, th, td {
}

tr {

}

th {

}

td {

}

/*** image styles ***/

img  {
max-width: 100%;
}


/*** link styles ***/

a:link {
 color: #ff6600;
    text-decoration: none;
}

a:visited {
 color: #ff33cc;
}

a:hover {
 color: #cc9900;
    text-decoration: underline;
}

a:active {
 color: #ff0000;
}
