/*** sectioning elements ***/
body {
    background-color: #f24330;
    max-width: ;
    margin-left: ;
    margin-right: ;
    padding: ;
}

h1 {
    font-family: 'Aref Ruqaa', serif;
    border: none;
    text-align: ;
    font-size: 20px;
}

h2 {
    font-family: 'Aref Ruqaa', serif;
    border: none;
    text-align: ;
    font-size: 15px;
}

p {
    font-family:
    font-size: 12px;
    line-height: 1;
}

header {

}

main {

}

footer {

}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

blockquote {

}

ol {

}

ul {

}

li {

}

table{

}

table, th, td {
}

tr {

}

th {

}

td {

}

/*** image styles ***/

img  {

}


/*** link styles ***/

a:link {
 color: #ff6600;
    text-decoration: none;
}

a:visited {
 color: #ff33cc;
}

a:hover {
 color: #cc9900;
    text-decoration: underline;
}

a:active {
 color: #ff0000;
}
