/*** sectioning elements ***/
body {
    background-color: #00cc99;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h1 {
    color: #cc0000;
    border: 5px solid blue;
    text-align: center;
    font-size: 30px;
    font-family: font-family: 'Roboto Slab', serif;
    padding: 20px;
    margin: none;
}

h2 {
    border: none;
    text-align: ;
    font-size: 15px;
    font-family: ;
    padding: px;
    margin: px;
}

p {
    font-family:
    font-size: 12px;
    line-height: 1;
}
a:link {
    color: #ff6600;
    text-decoration: none;
}

a:visited {
    color: #ff33cc;
}

a:hover {
    color: #cc9900;
    text-decoration: underline;
}

a:active {
    color: #ff0000;
}

body {

}

header {

}

main {

}

footer {

}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

blockquote {

}

ol {

}

ul {

}

li {

}

table{

}

table, th, td {
}

tr {

}

th {

}

td {

}

/*** image styles ***/

img  {

}


/*** link styles ***/

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}
